theme = "blowfish"
baseURL = "https://lucasmelin.com/"
defaultContentLanguage = "en"

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false

[pagination]
pagerSize = 20

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[permalinks]
  [permalinks.page]
    blog = "/blog/:06/:1/:2/:slug/"
