[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey
[submodule "content/langtonsant"]
	path = content/langtonsant
	url = https://github.com/lucasmelin/langtonsant
