<a
  href="{{ .Link }}"
  class="project-wrapper h-52"
  style="background-image: {{ .Background | safeCSS }}"
>
  <div class="project-text">{{ .Description }}</div>
  <div class="project-title">{{ .Title }}</div>
</a>

<style>
  .project-wrapper {
    width: 100%;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    text-decoration: none;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .project-wrapper:hover {
    transform: translateY(-5px);
    color: #ffffff;
  }
  @media (min-width: 768px) {
    .project-wrapper {
      padding-top: 2rem;
      padding-right: 2rem;
    }
  }

  .project-text {
    opacity: 1;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-size: 0.875rem;
    text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    color: #ffffff;
  }

  @media (min-width: 768px) {
    .project-text {
      font-size: 1rem;
    }
  }

  .project-title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    padding-top: 1rem;
    text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  }

  @media (min-width: 768px) {
    .project-title {
      font-size: 1.875rem;
    }
  }
  @media (min-width: 1200px) {
    .project-title {
      font-size: 2.25rem;
    }
  }
</style>
