:root {
    --color-neutral: 255, 255, 255;
    /* Gray */
    --color-neutral-50: 249, 250, 251;
    --color-neutral-100: 243, 244, 246;
    --color-neutral-200: 229, 231, 235;
    --color-neutral-300: 209, 213, 219;
    --color-neutral-400: 156, 163, 175;
    --color-neutral-500: 107, 114, 128;
    --color-neutral-600: 75, 85, 99;
    --color-neutral-700: 55, 65, 81;
    --color-neutral-800: 31, 41, 55;
    --color-neutral-900: 17, 24, 39;
    /* Violet */
    --color-primary-50: 245, 243, 255;
    --color-primary-100: 237, 233, 254;
    --color-primary-200: 221, 214, 254;
    --color-primary-300: 196, 181, 253;
    --color-primary-400: 167, 139, 250;
    --color-primary-500: 139, 92, 246;
    --color-primary-600: 124, 58, 237;
    --color-primary-700: 109, 40, 217;
    --color-primary-800: 91, 33, 182;
    --color-primary-900: 76, 29, 149;
    /* Green */
    --color-secondary-50: 236, 253, 245;
    --color-secondary-100: 209, 250, 229;
    --color-secondary-200: 167, 243, 208;
    --color-secondary-300: 110, 231, 183;
    --color-secondary-400: 52, 211, 153;
    --color-secondary-500: 16, 185, 129;
    --color-secondary-600: 5, 150, 105;
    --color-secondary-700: 4, 120, 87;
    --color-secondary-800: 6, 95, 70;
    --color-secondary-900: 6, 78, 59;
}