/* Custom Styles */
body {
  font-family: "IBM Plex Sans", sans-serif;
  counter-reset: sidenote-counter;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

/* Counter in the margin. */
.sidenote::before {
  content: counter(sidenote-counter)".";
  position: relative;
  vertical-align: baseline;
  font-size: .9em;
  font-weight: 700;
}

/* Counter in the main body. */
.sidenote-number::after {
  content: counter(sidenote-counter);
  vertical-align: super;
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 0.5rem;
}

.sidenote {
  font-family: sans-serif;
  font-size: 80%;
  font-weight: 400;
  position: relative;
}

/* Wide viewport. */
@media (min-width: 1400px){
  .sidenote {
      float: left;
      clear: left;
      text-align: right;
      top: -3rem;
      width: 20vw;
      margin-left: -23vw;
      margin-top: 3rem;
  }
  html.dark .sidenote-number:hover .sidenote {
    background-color: rgb(27, 30, 38);
  }
  .sidenote-number:hover .sidenote{
    background-color: rgba(186, 230, 253, 0.5);
  }
}

/* Narrow viewport. */
@media (max-width: 1400px) {
  .sidenote {
      float: left;
      text-align: left;

      width: 100%;
      margin: 1rem 0;
      padding-left: 5%;
  }
}

.project-wrapper {
  width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  text-decoration: none;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ffffff;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.project-wrapper:hover {
  transform: translateY(-5px);
  color: #ffffff;
}
@media (min-width: 768px) {
  .project-wrapper {
    padding-top: 2rem;
    padding-right: 2rem;
  }
}

.project-text {
  opacity: 1;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 0.875rem;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  color: #ffffff;
}

@media (min-width: 768px) {
  .project-text {
    font-size: 1rem;
  }
}

.project-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  padding-top: 1rem;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

@media (min-width: 768px) {
  .project-title {
    font-size: 1.875rem;
  }
}
@media (min-width: 1200px) {
  .project-title {
    font-size: 2.25rem;
  }
}